@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;800&display=swap");

body {
	font-family: "Montserrat" !important;
}

@white: #ffffff;
@green: #438465;
@black: #000;
@default-hightlight: #535353;
@bglightcolor: #f4f4f4;
@grey: #f1f5f5;

.social-media {
	.sidebar-nav-item-box {
		.ant-space {
			padding: 8px 0 8px 8px;
		}
		.active {
			background: @default-hightlight;
			// width: 100%;
			padding: 8px;
			border-radius: 5px;
			.ant-typography {
				color: @white !important;
			}
		}
	}
	.ant-typography {
		color: @black;
		word-break: break-word;
	}
	.btn-default {
		&.ant-btn {
			border-color: @white !important;
			background: @white !important;
			color: @black;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.active {
			&.ant-btn {
				border-color: @white !important;
				background: @default-hightlight !important;
				color: @white;
				.ant-typography {
					color: @white;
				}
			}
		}
	}
	.btn-green {
		&.ant-btn {
			border-color: @default-hightlight;
			background: @default-hightlight;
			color: @white;
		}
	}
	.btn-medium {
		&.ant-btn {
			width: 111px;
			height: 34px;
			padding: 8px 14px;
		}
	}
	.btn-grey {
		&.ant-btn {
			background: @default-hightlight !important;
			.ant-typography {
				color: @white;
			}
		}
	}
	.input-grey-round {
		&.ant-input-affix-wrapper {
			background: @grey;
			border-radius: 30px !important;
			padding-right: 7px !important;
			input {
				background: @grey;
				border-radius: 30px;
				color: @black;
				padding-right: 7px !important;
			}
		}
	}
	.ant-input-suffix {
		position: initial;
		display: flex;
	}
	.searchInput {
		.ant-input-affix-wrapper {
			background: @grey;
			border-radius: 10px !important;
			input {
				background: @grey;
				border-radius: 10px;
				color: @black;
				background: #f4f4f4;
			}
		}
	}
	h4 {
		&.ant-typography {
			line-height: 24px;
		}
	}
	.icons-default {
		path {
			fill: @default-hightlight;
		}
	}
	.bg-light {
		background: @bglightcolor !important;
	}
	.bg-none {
		background: none !important;
	}
	.ant-typography {
		&.card-head-title {
			font-weight: 400;
			font-size: 18px;
			text-transform: capitalize;
		}
		&.text-grey {
			color: @default-hightlight;
		}
		&.text-dark {
			color: @black !important;
		}
	}
	.default-icon {
		filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
			brightness(36%) contrast(75%);
	}
	.ant-tabs-tab {
		.default-icon {
			filter: none;
		}
		&.ant-tabs-tab-active {
			.default-icon {
				filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
					brightness(36%) contrast(75%);
			}
		}
	}
	.ant-tabs-ink-bar {
		height: 5px;
		background: @default-hightlight !important;
	}
	.story-card-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.is-mobile-tab {
		.ant-tabs-nav {
			position: fixed !important;
			bottom: 0;
			left: 0;
			right: 0;
			background: #fff;
			z-index: 99;
		}
	}
	.ant-layout-header {
		position: fixed !important;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff !important;
		z-index: 99;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	}
	.ant-layout-content {
		margin-top: 50px;
		margin-bottom: 100px;
		@media screen and (max-width: 991px) {
			margin-top: 80px;
			padding-left: 35px !important;
			padding-right: 35px !important;
		}
		@media screen and (max-width: 767px) {
			padding-left: 20px !important;
			padding-right: 20px !important;
			margin-top: 50px;
		}
	}

	.ant-drawer-body {
		padding: 0;
		overflow-x: hidden;
	}
	.ant-layout-header {
		@media screen and (max-width: 991px) {
			padding: 0 35px;
		}
		@media screen and (max-width: 767px) {
			padding: 13px 18px;
		}
		.header-mobo-left-trigger-box {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.menu-trigger-btnbox {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.social-layout-wrapper {
	max-width: 1475px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding-bottom: 27px;
	
}
.social-intraction-wrapper-box {
	width: 100vw;
	@media screen and (min-width: 992px) {
	position: relative;
	}
}
.avatar-uploader {
	.ant-upload-select-picture-card {
		width: auto;
		height: auto;
		outline: 0;
		box-shadow: none;
		border: 0;
		background: transparent;
	}
}

// ==================Socials media UI new styles work start here

.social-layout-wrapper {
	.modal-shadow-shape {
		position: fixed;
		width: 633px;
		height: 598px;
		z-index: 2;
		&.modal-shape-1 {
			right: -160px;
			top: 0;
		}
		&.modal-shape-2 {
			right: 200px;
			bottom: -90px;
		}
		&.modal-shape-3 {
			left: 89px;
			bottom: -92px;
			transform: rotate(90deg);
		}
	}
}

.socials-left-SideBar {
	position: relative;
	z-index: 5;
	padding-right: 57px;
	height: 100vh;
	.socials-left-SideBar-scroll {
		overflow: hidden;
		overflow-y: scroll;
		padding-right: 15px;
		height: 100vh;
		padding-bottom: 35px;
		@media screen and (min-width: 992px) {
			position: fixed;
			max-width: 311.75px;
			width: 100%;
		}
		@media screen and (max-width: 1440px) {
			left: 0;
		}
		@media screen and (max-width: 1280px) and (min-width: 992px) {
			max-width: 256px;
		}
		@media screen and (max-width: 1199px) and (min-width: 992px) {
			max-width: 224px;
		}
	
		/* Track */
		&::-webkit-scrollbar-track {
			background: transparent !important;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: transparent !important;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #cccccc !important;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				background: #cccccc !important;
			}
		}
	}

	@media screen and (max-width: 1280px) {
		padding-right: 48px;
	}
	@media screen and (max-width: 1199px) {
		padding-right: 32px;
	}
	@media screen and (max-width: 991px) {
		padding-right: 0px;
	}
	.sidebar-top-box {
		padding-top: 36px;
		position: relative;
		margin-bottom: 21px;
		padding-left: 34px;
		@media screen and (max-width: 1280px) {
			padding-left: 20px;
		}
		.searchInput {
			height: 45px;
			padding: 12.58px 13px 12.42px 16px !important;
			width: 247px;
			border-radius: 10px;
			background: #f4f4f4;
			@media screen and (max-width: 1280px) {
				width: 100%;
			}
			input {
				font-family: "Proxima-Nova";
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 15px;
				color: #7d7d7d;
				background: transparent;
				&::placeholder {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 15px;
					text-transform: capitalize;
					color: #7d7d7d;
				}
			}
		}
	}

	.before-login-view-box {
		@media screen and (max-width: 991px) {
			margin-top: 20px;
		}
		.sidebar-main-tabbox {
			border: 0;
			box-shadow: none;
			.sidebar-card-box {
				background: transparent !important;
				border: 0 !important;
				box-shadow: none !important;
				.ant-card-body {
					padding: 10px 13px 0 35px !important;
					border: 0 !important;
				}
			}
		}
	}

	.sidebar-main-tabbox {
		margin-bottom: 20px;
		.sidebar-card-box {
			padding: 0 !important;
			border-radius: 0 10px 10px 0;
			.ant-card-body {
				padding: 20px 19px 18px 48px !important;
				@media screen and (max-width: 1280px) {
					padding-left: 18px !important;
				}
				.ant-space {
					&.ant-space-vertical {
						width: 100%;
					}
				}
				button {
					&.btn-default {
						&.tabs-switch-button {
							justify-content: flex-start !important;
							padding: 7px 0 7px 16px !important;
							@media screen and (max-width: 1280px) {
								.ant-typography {
									font-size: 15px !important;
								}
							}
						}
					}
				}
			}
		}
	}

	.sidebar-nav-item-box {
		padding-left: 26px;
		@media screen and (max-width: 1280px) {
			padding-left: 12px;
		}
		.service-item-icon{
			.icon-items{
				padding-left: 0 !important;
				padding-right: 0 !important;
				>img{
                     object-fit: none;
				}
			}
		}
		.ant-typography {
			@media screen and (max-width: 1280px) {
				font-size: 15px !important;
			}
		}
		.ant-space {
			&.ant-space-vertical {
				> .ant-space-item {
					padding: 0;
					height: 45px;
					display: flex;
					align-items: center;
					padding-left: 16px;
					&:nth-child(1) {
						.user-log-name {
							margin-left: -8px;
							.ant-typography {
								@media screen and (max-width: 1280px) {
									font-size: 16px !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.right-sidebar-wrapper {
	padding-right: 9px;
	padding-left: 11px;
	width: 100%;
	z-index: 5;
	@media screen and (min-width: 992px) {
		padding-right: 0px;
		position: fixed;
		max-width: 419px;
	}
	@media screen and (max-width: 1440px) {
		right: 0;
	}
	@media screen and (max-width: 1280px) and (min-width: 1200px) {
		max-width: 350px;
	}
	@media screen and (max-width: 1199px) and (min-width: 992px) {
		max-width: 298px;
	}
	@media screen and (max-width: 1199px) {
		padding-left: 0px;
	}
	.sidebar-scroll-box {
		margin-top: 34px;
		@media screen and (min-width: 992px) {
			height: calc(100vh - 90px);
			overflow: hidden;
			overflow-y: scroll;
			padding-right: 15px;

		}
				/* Track */
				&::-webkit-scrollbar-track {
					background: transparent !important;
				}
		
				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: transparent !important;
				}
		
				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
					background: #cccccc !important;
				}
				&:hover {
					&::-webkit-scrollbar-thumb {
						background: #cccccc !important;
					}
				}
	}
	.sidebar-top-header {
		margin-bottom: 34px;
		@media screen and (min-width: 992px) {
			margin-bottom: 0px;
		}
		position: relative;
		padding: 12px 11.32px 12px;
		left: 0;
		top: -5px;
		.ant-space-item {
			@media screen and (min-width: 992px) {
				&:nth-child(1) {
					position: relative;
					left: -5px;
				}
				&:nth-child(2) {
					position: relative;
					left: 2px;
				}
				&:nth-child(3) {
					position: relative;
					right: -4px;
					top: 2px;
				}
				&:nth-child(4) {
					position: relative;
					right: 11px;
					top: 5px;
				}
			}
		}

		@media screen and (max-width: 1280px) {
			padding-left: 0;
			padding-right: 0;
		}
		.top-header-link-item {
			padding: 0 !important;
		}
		.log-user-profile {
			.ant-dropdown-trigger {
				.ant-typography {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 16px;
					text-transform: capitalize;
					color: #000000;
					@media screen and (max-width: 1280px) {
						display: none;
					}
				}
			}
		}
	}
	.Professional-services-wrap {
		margin-bottom: 20px;
		.services-content-card-box {
			position: relative;
			padding: 24px 25px 43px 24px !important;
			background: #f4f4f4;
			border-radius: 18px !important;
			@media screen and (max-width: 1199px) {
				padding: 15px 15px 25px 14px !important;
			}
			.ant-card-body {
				padding: 0 !important;
				.ant-space {
					&.ant-space-vertical {
						width: 100%;
					}
				}
				.service-head-title {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					text-transform: capitalize;
					color: #535353;
					margin-bottom: 9px !important;
				}
				.professional-service-item {
					height: 74px;
					background: #fff;
					padding: 14px 15px 15px;
					border-radius: 14px;
					width: 100%;
					@media screen and (max-width: 1199px) {
						height: 60px;
						padding: 7px 7px 7px;
					}
					.card-head-title {
						@media screen and (max-width: 1280px) {
							font-size: 15px !important;
						}
					}
					.service-item-icon {
						width: 45px;
						height: 45px;
						background: #f4f4f4;
						border-radius: 10px;
						padding: 12px !important;
						display: flex;
						align-items: center;
						justify-content: center;
						@media screen and (max-width: 1199px) {
							width: 35px;
							height: 35px;
							padding: 5px !important;
						}
						.service-intract-item {
							padding: 0 !important;
						}
					}
				}
				.ant-space-item {
					&:nth-child(2) {
						.service-item-icon {
							@media screen and (max-width: 1199px) {
								padding-left: 10px !important;
							}
						}
					}
				}
			}
			.service-item-box {
				> .ant-space-item {
					&:nth-child(1) {
						.service-item-icon {
							.default-icon {
								width: 21px !important;
							}
						}
					}
					&:nth-child(2) {
						.service-item-icon {
							.default-icon {
								width: 15px !important;
							}
						}
					}
					&:nth-child(3) {
						.service-item-icon {
							.default-icon {
								width: 28px !important;
							}
						}
					}
				}
			}
		}
	}
	.sponsored-wrapper-box {
		position: relative;
		padding: 21px 17px 22px 20px;
		background: #ffffff;
		.sponsored-content-wrap {
			.component-title-box {
				margin-bottom: 24px;
				h3 {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					text-transform: capitalize;
					color: #000000;
					margin-bottom: 0 !important;
				}
			}
			.sponsored-card-itembox {
				.sponsored-card-item-wrap {
					padding-top: 0 !important;
					background: #fff;
					padding-top: 19px;
					border-radius: 14px;
					width: 100%;
					.sponsored-card-item {
						display: flex;
						align-items: center;
						gap: 12px;
						.avatar-image {
							border-radius: 7px;
							overflow: hidden;
						}
						.title {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 19px;
							text-transform: capitalize;
							color: #000000;
							margin-bottom: 4px;
							max-width: 189px;
						}
						.subtitle {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 400;
							font-size: 14px;
							line-height: 17px;
							text-transform: capitalize;
							color: #7d7d7d;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
.social-layout-wrapper{
	.social-media {
		.middle-content-wrapper{
			&.ant-col-xxl-11{
					.socials-main-cont-wrapper{
						.ant-tabs {
							&.ant-tabs-top {
								.ant-tabs-nav {
									max-width: 651px;
								}
							}
						}
					}
			}
		}
		.middle-content-wrapper{
			&.ant-col-xxl-18{
				.socials-main-cont-wrapper{
					.ant-tabs {
						&.ant-tabs-top {
							.ant-tabs-nav {
								max-width: 1078px;
							}
						}
					}
				}
			}
		}
	}

}

.socials-main-cont-wrapper {
	padding-right: 25px;
	position: relative;
	padding-bottom: 45px;
	z-index: 5;
	@media screen and (min-width: 992px) {
		right: 5px;
	}
	@media screen and (max-width: 1199px) {
		padding-right: 24px;
	}
	@media screen and (max-width: 991px) {
		padding-right: 0px;
	}
	.main-content-wrapper {
		
	@media screen and (min-width: 992px) {
		padding-top: 59px;
		padding-right: 15px;
		margin-top: 26px;
	}

	}
	.ant-tabs {
		&.ant-tabs-top {
			.ant-tabs-nav {
				padding: 0 25px 0 29px;
				margin-bottom: 0px;
				border: 0 !important;
				padding-top: 17px;
				background: #fff;
				width: 100%;
				position: fixed;
				top: 0;
				z-index: 999;
				&::before {
					display: none !important;
				}
			}
		}
	}

	.cta-item-wrapper {
		margin-bottom: 11px;
		.cta-wrapper-box {
			padding: 29px 29px !important;
			position: relative;
			border-radius: 18px;
			.modal-image {
				position: absolute;
				bottom: -1px;
				left: 22px;
				@media screen and (max-width: 767px) {
					left: 0;
				}
			}
			@media screen and (max-width: 1199px) and (min-width: 992px) {
				padding: 18px 8px 8px 0 !important;
			}
			@media screen and (max-width: 767px) {
				padding: 18px 8px 8px 0 !important;
			}
			.cta-text-content {
				padding-left: 121px;
				@media screen and (max-width: 1199px) {
					padding-left: 120px;
					margin-bottom: 6px;
				}
				@media screen and (max-width: 767px) {
					padding-left: 90px;
				}
				.card-head-title {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 18px;
					text-transform: capitalize;
					margin-bottom: 4px !important;
					color: #000000;
					span {
						margin-left: 5px;
					}
				}
				.card-head-desc {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 13px;
					line-height: 18px;
					text-transform: capitalize;
					color: #000000;
					margin-bottom: 0 !important;
					@media screen and (max-width: 1280px) and (min-width: 1200px) {
						br {
							display: none !important;
						}
					}
				}
			}
			.cta-btn-item {
				display: flex;
				justify-content: flex-end;
				.ant-btn-default {
					border: 0;
				}
			}
		}
	}
	.story-widget-wrapper-box {
		margin-bottom: 0px;
		overflow: hidden;
		overflow-x: scroll !important;
		&::-webkit-scrollbar {
			width: 10px;
			height: 4px !important;
			border-radius: 10px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f4f4f4 !important;
			border-radius: 10px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #535353 !important;
			border-radius: 10px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #535353 !important;
			border-radius: 10px;
		}
		.story-card-container {
			display: flex;
			gap: 6px;
			padding-bottom: 10px;
			.story-card-item {
				.story-card-content {
					overflow: hidden;
					border-radius: 8px;
					transition: all 650ms ease 0s;
					position: relative;

					.ant-card-body {
						padding: 0 7px 8px 7px !important;
						position: relative;
						z-index: 99;
						.story-title {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 18px;
							text-transform: capitalize;
							color: #ffffff;
							position: relative;
							margin-bottom: 0 !important;
							z-index: 99;
						}
					}
					.story-card {
						transform: scale(1);
						transition: all 350ms ease 0s;
						position: relative;
					}
					&:hover {
						.story-card {
							transform: scale(1.1);
						}
					}
				}
				&:not(:nth-child(1)) {
					.story-card-content {
						.story-card {
							&::before {
								content: "";
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								background: linear-gradient(
									360deg,
									rgba(0, 0, 0, 0.6) -2.82%,
									rgba(0, 0, 0, 0) 32.83%
								);
								border-radius: 5px;
								z-index: 1;
								transition: all 450ms ease 0s;
							}
						}
					}
				}
			}
		}
	}

	// comment feed box style start here
	.users-feed-box {
		.user-feed-comment-wrapper {
			padding-bottom: 45px;
			background-color: #ffffff;
			@media screen and (max-width: 991px) {
				padding-bottom: 0;
			}
			.user-feed-wrapper {
				.user-feed-post-input-wrapper {
					position: relative;
					padding: 18.5px 24px 15px 24px !important;
					margin-bottom: 7px;
					@media screen and (max-width: 1280px) {
						padding-left: 0 !important;
						padding-right: 0 !important;
					}
					@media screen and (max-width: 1199px) {
						margin-bottom: 0px;
					}
					.log-users-mind {
						margin-bottom: 9px;

						.user-mind-cont-box {
							> .ant-space-item {
								&:nth-child(1) {
									width: 42px;
									height: 42px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 100%;
									border: 2px solid #448666;
								}
								.circle-image-item {
									border: 1px solid #448666;
								}
							}
							.users-min-text-box {
								.title {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 24px;
									color: #000000;
									margin-bottom: 0;
									@media screen and (max-width: 767px) {
										font-size: 16px;
									}
								}
								.desc {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 15px;
									line-height: 24px;
									color: #c5c5c5;
									margin-bottom: 0;
									@media screen and (max-width: 1199px) {
										font-size: 12px;
									}
								}
							}
						}
						.ant-dropdown-trigger {
							&.link-box-widgets {
								display: flex;
								align-items: center;
								justify-content: center;
								margin-left: auto;
								gap: 5px;
								.title {
									margin-bottom: 0;
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 14px;
									color: #787878;
								}
							}
						}
					}
					.log-users-mind-post {
						> .ant-row-middle {
							@media screen and (max-width: 991px) {
								justify-content: space-between;
							}
						}
						.post-create-input-box {
							@media screen and (max-width: 767px) {
								display: grid !important;
								grid-template-columns: 1fr 190px;
							}
							@media screen and (max-width: 575px) {
								display: grid !important;
								grid-template-columns: 1fr 146px;
							}
						}

						.post-input-box {
							&.ant-input-affix-wrapper-lg {
								padding: 14px 14px 11.5px 16px !important;
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: #787878 !important;
								background: #f4f4f4;
								border-radius: 30px;
								height: 50px !important;

								input {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #787878 !important;
									&::placeholder {
										font-family: "Proxima-Nova";
										font-style: normal;
										font-weight: 400;
										font-size: 16px;
										line-height: 24px;
										color: #787878 !important;
									}
								}
							}
							@media screen and (max-width: 767px) {
								height: 40px;
								padding-left: 15px;
							}
							> .ant-input-prefix {
								margin-right: 11px !important;
							}
						}

						.post-attachment-box {
							.ant-space-item {
								.avatar-uploader {
									.ant-upload {
										&.ant-upload-select {
											width: auto;
											height: auto;
											outline: 0;
											background: transparent;
											border: 0;
											@media screen and (max-width: 1199px) {
												margin-right: 0 !important;
											}
										}
									}
								}
							}
						}
					}
				}

				.users-post-card-item {
					.user-posted-content-box {
						margin-bottom: 25px;
						padding: 20px 16px 19px 13px;
						@media screen and (max-width: 1199px) {
							padding-right: 0;
						}
						@media screen and (max-width: 767px) {
							padding-left: 0;
							margin-bottom: 0;
						}
						.users-post-info {
							.circle-image-item {
								width: 37px !important;
								height: 37px !important;
							}
							.text-box {
								.title {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 20px;
									color: #000000;
									margin-bottom: 0;
								}
								.desc {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 15px;
									line-height: 24px;
									color: #c5c5c5;
									margin-bottom: 0;
								}
							}
						}
						.post-info-main-card {
							.posted-image {
								width: 100%;
								object-fit: cover;
								border-radius: 8px;
							}
							.react-action-cont-box {
								padding: 0 13px 0 0px;
								margin-bottom: 0px;
								@media screen and (max-width: 1199px) {
									margin-bottom: 0;
								}
							}
							.posted-desc-text {
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 18px;
								text-transform: capitalize;
								color: #616161;
								margin-bottom: 0;
								@media screen and (max-width: 1199px) {
									font-size: 14px;
								}
							}
						}
					}
					.relative-user-comment {
						margin-bottom: 35px;
						padding-left: 10px;
						padding-right: 10px;
						@media screen and (max-width: 767px) {
							padding-left: 0px;
							padding-right: 0px;
						}
						.relative-users-comment-input {
							padding: 7.5px 7.5px 7.5px 16px !important;
							input {
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 12px;
								line-height: 20px;
								color: rgba(30, 41, 59, 0.29);
								&::placeholder {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 12px;
									line-height: 20px;
									color: rgba(30, 41, 59, 0.29);
								}
							}
							.ant-input-suffix {
								.ant-upload-picture-card-wrapper {
									width: auto;
									.ant-upload {
										width: auto;
										&.ant-upload-select {
											width: auto;
											height: auto;
											margin: 0 !important;
											outline: 0;
											border: 0;
											box-shadow: 0;
										}
									}
								}
							}
						}
						.comment-input-wrapper {
							width: 100%;
							.ant-space-item {
								&:nth-child(2) {
									width: 100%;
								}
							}
						}
					}
				}
				.user-post-base-reply-cont {
					position: relative;
					padding-left: 10px;
					padding-right: 10px;
					.relative-user-reply-context {
						&:empty {
							display: none !important;
						}
					}
					.user-comment-wrapbox {
						.users-replying-cont-box {
							display: flex;
							align-items: flex-start;
							gap: 9px;
							.reply-user-cont-wrap {
								position: relative;
								width: 100%;
								> .user-name {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 18px;
									color: #1e293b;
									margin-bottom: 8px;
								}
								.users-added-content {
									position: relative;

									.users-post-attachment-wrapper {
										display: flex;
										gap: 4px;
										align-items: center;

										.comment-content-group-box {
											padding: 13px 19px 17px 10px;
											background: #f4f4f4;
											border-radius: 3px;
											width: 100%;
											.desc {
												font-family: "Proxima-Nova";
												font-style: normal;
												font-weight: 400;
												font-size: 12px;
												line-height: 20px;
												color: #1e293b;
												margin-bottom: 0;
											}
											.attachment-gif,
											.attachment-photo {
												margin-bottom: 7px;
											}
										}
									}
									.total-count-impression-widget {
										position: relative;
										height: 25px;
										margin-bottom: 0;
										bottom: 11px;
									}
								}
								.like-comment-trigger-box {
									.like-comment-trigger-wrap {
										.like-trigger-button {
											background: transparent;
											border: 0;
											height: auto;
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
											cursor: pointer;
										}
										.reply-trigger-button {
											background: transparent;
											border: 0;
											height: auto;
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
											cursor: pointer;
										}
										.replying-posted-time {
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.mobile-sidebar-top-header {
		.service-item-icon {
			.top-header-link-item {
				padding: 0 !important;
			}
		}
		.socials-left-SideBar {
			.sidebar-top-box {
				padding: 0;
				margin: 0;
			}
			.sidebar-main-tabbox {
				.sidebar-card-box {
					margin-right: 30px !important;
					.ant-card-body {
						padding-left: 48px !important;
					}
				}
			}
			.sidebar-nav-item-box {
				padding-left: 34px;
				padding-right: 34px;
			}
		}
		.ant-drawer-header {
			padding: 16px 22px 16px 26px;
		}
		// .ant-space-vertical
		.ant-drawer-content-wrapper-hidden {
			left: -200% !important;
		}
		&.mobile-top-sidebar-right {
			.right-sidebar-wrapper {
				padding-right: 20px;
				padding-left: 20px;

				.sponsored-wrapper-box {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
		}
	}
}
.forum-tabs,
.Dashboard-Profile,
.Notification,
.Medication-History,
.CommonTable,
.Explore-Treatment {
	
    position: relative;
    z-index: 5;
}