@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;800&display=swap");

body {
	font-family: "Montserrat" !important;
}

@white: #ffffff;
@green: #438465;
@black: #000;
@default-hightlight: #535353;
@bglightcolor: #f4f4f4;
@grey: #f1f5f5;

.social-media .ant-typography {
	color: @black;
	word-break: break-word;
}

.social-media .btn-default.ant-btn {
	border-color: @white !important;
	background: @white !important;
	color: @black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media .btn-green.ant-btn {
	border-color: @default-hightlight;
	background: @default-hightlight;
	color: @white;
}

.social-media .input-grey-round.ant-input-affix-wrapper {
	background: @grey;
	border-radius: 30px !important;
	padding-right: 7px !important;
}

.social-media .input-grey-round.ant-input-affix-wrapper input {
	background: @grey;
	border-radius: 30px;
	color: @black;
	padding-right: 7px !important;
}

.social-media .ant-input-suffix {
	position: initial;
	display: flex;
}

// .green-card.ant-card{
// 	background: @default-hightlight;
// }
.social-media .searchInput.ant-input-affix-wrapper {
	background: @grey;
	border-radius: 10px !important;
}

.social-media .searchInput.ant-input-affix-wrapper input {
	background: @grey;
	border-radius: 10px;
	color: @black;
}

.social-media h4.ant-typography {
	line-height: 24px;
}

.social-media .icons-default path {
	fill: @default-hightlight;
}

.social-media .bg-light {
	background: @bglightcolor !important;
}

.social-media .bg-none {
	background: none !important;
}

.social-media .ant-typography.card-head-title {
	font-weight: 400;
	font-size: 18px;
	text-transform: capitalize;
}

.social-media .ant-typography.text-grey {
	color: @default-hightlight;
}

.social-media .ant-typography.text-dark {
	color: @black !important;
}

.social-media .btn-default.active.ant-btn {
	border-color: @white !important;
	background: @default-hightlight !important;
	color: @white;
}

.social-media .btn-default.active.ant-btn .ant-typography {
	color: @white;
}

.social-media .btn-medium.ant-btn {
	width: 111px;
	height: 34px;
	padding: 8px 14px;
}

.social-media .btn-grey.ant-btn {
	background: @default-hightlight !important;
}

.social-media .btn-grey .ant-typography {
	color: @white;
}

.social-media .default-icon {
	filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
		brightness(36%) contrast(75%);
}

.social-media .ant-tabs-tab .default-icon {
	filter: none;
}

.social-media .ant-tabs-tab.ant-tabs-tab-active .default-icon {
	filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
		brightness(36%) contrast(75%);
}

.social-media .ant-tabs-ink-bar {
	height: 5px;
	background: @default-hightlight !important;
}

.social-media .story-card-container::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.social-media .is-mobile-tab .ant-tabs-nav {
	position: fixed !important;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 99;
}

// .social-media .fixed-width-left {
// 	max-width: 343px !important;
// }

// .social-media .fixed-width-middle {
// 	max-width: 644px !important;
// }

// .social-media .fixed-width-right {
// 	max-width: 385px !important;
// }

.social-media .ant-layout-header {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff !important;
	z-index: 99;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.social-media .ant-layout-content {
	margin-top: 50px;
	margin-bottom: 100px;
}

.mobile-drawer .ant-drawer-body {
	padding: 0;
	overflow-x: hidden;
}

.social-media .social-media .ant-layout-header {
	padding: 0 18px;
}
.social-layout-wrapper {
	max-width: 1475px;
	width: 100%;
	margin: 0 auto;
}


.avatar-uploader .ant-upload-select-picture-card {
    width: auto;
    height: auto;
    outline: 0;
    box-shadow: none;
    border: 0;
    background: transparent;
}