@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;800&display=swap");

body {
	font-family: "Montserrat" !important;
}

@white: #ffffff;
@green: #438465;
@black: #000;
@default-hightlight: #535353;
@bglightcolor: #f4f4f4;
@grey: #f1f5f5;

.social-media {
	.ant-typography {
		color: @black;
		word-break: break-word;
	}
	.btn-default {
		&.ant-btn {
			border-color: @white !important;
			background: @white !important;
			color: @black;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.active {
			&.ant-btn {
				border-color: @white !important;
				background: @default-hightlight !important;
				color: @white;
				.ant-typography {
					color: @white;
				}
			}
		}
	}
	.btn-green {
		&.ant-btn {
			border-color: @default-hightlight;
			background: @default-hightlight;
			color: @white;
		}
	}
	.btn-medium {
		&.ant-btn {
			width: 111px;
			height: 34px;
			padding: 8px 14px;
		}
	}
	.btn-grey {
		&.ant-btn {
			background: @default-hightlight !important;
			.ant-typography {
				color: @white;
			}
		}
	}
	.input-grey-round {
		&.ant-input-affix-wrapper {
			background: @grey;
			border-radius: 30px !important;
			padding-right: 7px !important;
			input {
				background: @grey;
				border-radius: 30px;
				color: @black;
				padding-right: 7px !important;
			}
		}
	}
	.ant-input-suffix {
		position: initial;
		display: flex;
	}
	.searchInput {
		.ant-input-affix-wrapper {
			background: @grey;
			border-radius: 10px !important;
			input {
				background: @grey;
				border-radius: 10px;
				color: @black;
			}
		}
	}
	h4 {
		&.ant-typography {
			line-height: 24px;
		}
	}
	.icons-default {
		path {
			fill: @default-hightlight;
		}
	}
	.bg-light {
		background: @bglightcolor !important;
	}
	.bg-none {
		background: none !important;
	}
	.ant-typography {
		&.card-head-title {
			font-weight: 400;
			font-size: 18px;
			text-transform: capitalize;
		}
		&.text-grey {
			color: @default-hightlight;
		}
		&.text-dark {
			color: @black !important;
		}
	}
	.default-icon {
		filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
			brightness(36%) contrast(75%);
	}
	.ant-tabs-tab {
		.default-icon {
			filter: none;
		}
		&.ant-tabs-tab-active {
			.default-icon {
				filter: invert(28%) sepia(1%) saturate(1119%) hue-rotate(333deg)
					brightness(36%) contrast(75%);
			}
		}
	}
	.ant-tabs-ink-bar {
		height: 5px;
		background: @default-hightlight !important;
	}
	.story-card-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.is-mobile-tab {
		.ant-tabs-nav {
			position: fixed !important;
			bottom: 0;
			left: 0;
			right: 0;
			background: #fff;
			z-index: 99;
		}
	}
	.ant-layout-header {
		position: fixed !important;
		top: 0;
		left: 0;
		right: 0;
		background: #ffffff !important;
		z-index: 99;
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	}
	.ant-layout-content {
		margin-top: 50px;
		margin-bottom: 100px;
	}
	.ant-drawer-body {
		padding: 0;
		overflow-x: hidden;
	}
	.ant-layout-header {
		padding: 0 18px;
	}
	.menu-trigger-btnbox {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.social-layout-wrapper {
	max-width: 1475px;
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding-bottom: 27px;
}
.social-intraction-wrapper-box {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100%;
}
.avatar-uploader {
	.ant-upload-select-picture-card {
		width: auto;
		height: auto;
		outline: 0;
		box-shadow: none;
		border: 0;
		background: transparent;
	}
}

// ==================Socials media UI new styles work start here

.social-layout-wrapper {
	.modal-shadow-shape {
		position: absolute;
		width: 633px;
		height: 598px;
		&.modal-shape-1 {
			right: -310px;
			top: 0;
		}
		&.modal-shape-2 {
			right: 230px;
			top: 580px;
		}
		&.modal-shape-3 {
			left: -89px;
			bottom: -92px;
			transform: rotate(90deg);
		}
	}
}

.socials-left-SideBar {
	position: relative;
	z-index: 5;
	padding-right: 16px;
	.sidebar-top-box {
		padding-top: 20px;
		position: relative;
		margin-bottom: 21px;
		@media screen and (max-width: 1280px) {
			padding-left: 20px;
		}
		.searchInput {
			height: 45px;
			padding: 12.58px 13px 12.42px 16px !important;
			width: 247px;
			border-radius: 10px;
			@media screen and (max-width: 1280px) {
				width: 100%;
			}
			input {
				font-family: "Proxima-Nova";
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 15px;
				color: #7d7d7d;
				&::placeholder {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 15px;
					text-transform: capitalize;
					color: #7d7d7d;
				}
			}
		}
	}

	.sidebar-main-tabbox {
		margin-bottom: 20px;
		.sidebar-card-box {
			padding: 0 !important;
			border-radius: 0 10px 10px 0;
			.ant-card-body {
				padding: 20px 19px 18px 48px !important;
				@media screen and (max-width: 1280px) {
					padding-left: 18px !important;
				}
				.ant-space {
					&.ant-space-vertical {
						width: 100%;
					}
				}
				button {
					&.btn-default {
						&.tabs-switch-button {
							justify-content: flex-start !important;
							padding: 7px 0 7px 16px !important;
							@media screen and (max-width: 1280px) {
								.ant-typography {
									font-size: 15px !important;
								}
							}
						}
					}
				}
			}
		}
	}

	.sidebar-nav-item-box {
		padding-left: 34px;
		.ant-space {
			&.ant-space-vertical {
				> .ant-space-item {
					padding: 0;
					height: 45px;
					display: flex;
					align-items: center;
					padding-left: 16px;
					&:nth-child(1) {
						.user-log-name {
							margin-left: -8px;
						}
					}
				}
			}
		}
	}
}

.right-sidebar-wrapper {
	padding-right: 20px;
	.sidebar-top-header {
		margin-bottom: 30px;
		position: relative;
		padding: 12px 11.32px 12px;
		.top-header-link-item {
			padding: 0 !important;
		}
		.log-user-profile {
			.ant-dropdown-trigger {
				.ant-typography {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 16px;
					text-transform: capitalize;
					color: #000000;
				}
			}
		}
	}
	.Professional-services-wrap {
		margin-bottom: 20px;
		.services-content-card-box {
			position: relative;
			padding: 24px 25px 43px 24px !important;
			background: #f4f4f4;
			border-radius: 18px !important;
			.ant-card-body {
				padding: 0 !important;
				.ant-space {
					&.ant-space-vertical {
						width: 100%;
					}
				}
				.service-head-title {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					text-transform: capitalize;
					color: #535353;
					margin-bottom: 9px !important;
				}
				.professional-service-item {
					height: 74px;
					background: #fff;
					padding: 14px 15px 15px;
					border-radius: 14px;
					width: 100%;
					.card-head-title{
						@media screen and (max-width:1280px) {
							font-size: 15px !important;
						}
					}
					.service-item-icon {
						width: 45px;
						height: 45px;
						background: #f4f4f4;
						border-radius: 10px;
						padding: 12px !important;
						display: flex;
						align-items: center;
						justify-content: center;
						.service-intract-item {
							padding: 0 !important;
						}
					}
				}
			}
			.service-item-box {
				> .ant-space-item {
					&:nth-child(1) {
						.service-item-icon {
							.default-icon {
								width: 21px !important;
							}
						}
					}
					&:nth-child(2) {
						.service-item-icon {
							.default-icon {
								width: 15px !important;
							}
						}
					}
					&:nth-child(3) {
						.service-item-icon {
							.default-icon {
								width: 28px !important;
							}
						}
					}
				}
			}
		}
	}
	.sponsored-wrapper-box {
		height: 100%;
		position: relative;
		padding: 21px 17px 22px 20px;
		background: #ffffff;
		.sponsored-content-wrap {
			.component-title-box {
				margin-bottom: 24px;
				h3 {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
					text-transform: capitalize;
					color: #000000;
					margin-bottom: 0 !important;
				}
			}
			.sponsored-card-itembox {
				.sponsored-card-item-wrap {
					padding-top: 0 !important;
					background: #fff;
					padding-top: 19px;
					border-radius: 14px;
					width: 100%;
					.sponsored-card-item {
						display: flex;
						align-items: center;
						gap: 12px;
						.avatar-image {
							border-radius: 7px;
							overflow: hidden;
						}
						.title {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 19px;
							text-transform: capitalize;
							color: #000000;
							margin-bottom: 4px;
							max-width: 189px;
						}
						.subtitle {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 400;
							font-size: 14px;
							line-height: 17px;
							text-transform: capitalize;
							color: #7d7d7d;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

.socials-main-cont-wrapper {
	.ant-tabs {
		&.ant-tabs-top {
			.ant-tabs-nav {
				padding: 0 25px 0 23px;
				margin-bottom: 28px;
				border: 0 !important;
				&::before {
					display: none !important;
				}
			}
		}
	}
	.cta-item-wrapper {
		margin-bottom: 11px;
		.cta-wrapper-box {
			padding: 29px 29px !important;
			position: relative;
			border-radius: 18px;
			@media screen and (max-width: 767px) {
				padding: 18px 8px 8px 0 !important;
			}
			.cta-text-content {
				padding-left: 127px;
				@media screen and (max-width: 767px) {
					padding-left: 90px;
					margin-bottom: 10px;
				}
				.card-head-title {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 18px;
					text-transform: capitalize;
					margin-bottom: 4px !important;
					color: #000000;
					span {
						margin-left: 5px;
					}
				}
				.card-head-desc {
					font-family: "Proxima-Nova";
					font-style: normal;
					font-weight: 400;
					font-size: 13px;
					line-height: 18px;
					text-transform: capitalize;
					color: #000000;
					margin-bottom: 0 !important;
				}
			}
			.cta-btn-item {
				display: flex;
				justify-content: flex-end;
				.ant-btn-default {
					border: 0;
				}
			}
		}
	}
	.story-widget-wrapper-box {
		margin-bottom: 0px;
		overflow: hidden;
		overflow-x: scroll !important;
		&::-webkit-scrollbar {
			width: 10px;
			height: 4px !important;
			border-radius: 10px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f4f4f4 !important;
			border-radius: 10px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #535353 !important;
			border-radius: 10px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #535353 !important;
			border-radius: 10px;
		}
		.story-card-container {
			display: flex;
			gap: 10px;
			padding-bottom: 10px;
			.story-card-item {
				.story-card-content {
					overflow: hidden;
					border-radius: 8px;
					transition: all 650ms ease 0s;
					position: relative;

					.ant-card-body {
						padding: 0 7px 8px 7px !important;
						position: relative;
						z-index: 99;
						.story-title {
							font-family: "Proxima-Nova";
							font-style: normal;
							font-weight: 500;
							font-size: 16px;
							line-height: 18px;
							text-transform: capitalize;
							color: #ffffff;
							position: relative;
							margin-bottom: 0 !important;
							z-index: 99;
						}
					}
					.story-card {
						transform: scale(1);
						transition: all 350ms ease 0s;
						position: relative;
					}
					&:hover {
						.story-card {
							transform: scale(1.1);
						}
					}
				}
				&:not(:nth-child(1)) {
					.story-card-content {
						.story-card {
							&::before {
								content: "";
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								background: linear-gradient(
									360deg,
									rgba(0, 0, 0, 0.6) -2.82%,
									rgba(0, 0, 0, 0) 32.83%
								);
								border-radius: 5px;
								z-index: 1;
								transition: all 450ms ease 0s;
							}
						}
					}
				}
			}
		}
	}

	// comment feed box style start here
	.users-feed-box {
		.user-feed-comment-wrapper {
			padding-bottom: 45px;
			background-color: #ffffff;
			@media screen and (max-width: 991px) {
				padding-bottom: 0;
			}
			.user-feed-wrapper {
				.user-feed-post-input-wrapper {
					position: relative;
					padding: 19.5px 24px 15px 24px !important;
					margin-bottom: 22px;
					@media screen and (max-width: 1280px) {
						padding-left: 0 !important;
						padding-right: 0 !important;
					}
					.log-users-mind {
						margin-bottom: 15px;
						.user-mind-cont-box {
							> .ant-space-item {
								&:nth-child(1) {
									width: 42px;
									height: 42px;
									display: flex;
									align-items: center;
									justify-content: center;
									border-radius: 100%;
									border: 2px solid #448666;
								}
								.circle-image-item {
									border: 1px solid #448666;
								}
							}
							.users-min-text-box {
								.title {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 24px;
									color: #000000;
									margin-bottom: 0;
								}
								.desc {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 15px;
									line-height: 24px;
									color: #c5c5c5;
									margin-bottom: 0;
								}
							}
						}
						.ant-dropdown-trigger {
							&.link-box-widgets {
								display: flex;
								align-items: center;
								justify-content: center;
								gap: 5px;
								.title {
									margin-bottom: 0;
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 14px;
									color: #787878;
								}
							}
						}
					}
					.log-users-mind-post {
						.post-input-box {
							&.ant-input-affix-wrapper-lg {
								padding: 14px 14px 11.5px 16px !important;
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 16px;
								line-height: 24px;
								color: #787878 !important;
								background: #f4f4f4;
								border-radius: 30px;
								height: 50px !important;
								input {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #787878 !important;
									&::placeholder {
										font-family: "Proxima-Nova";
										font-style: normal;
										font-weight: 400;
										font-size: 16px;
										line-height: 24px;
										color: #787878 !important;
									}
								}
							}
							> .ant-input-prefix {
								margin-right: 11px !important;
							}
						}

						.post-attachment-box {
							.ant-space-item {
								.avatar-uploader {
									.ant-upload {
										&.ant-upload-select {
											width: auto;
											height: auto;
											outline: 0;
											background: transparent;
											border: 0;
										}
									}
								}
							}
						}
					}
				}

				.users-post-card-item {
					.user-posted-content-box {
						margin-bottom: 20px;
						padding: 20px 16px 19px 15px;
						.users-post-info {
							.circle-image-item {
								width: 37px !important;
								height: 37px !important;
							}
							.text-box {
								.title {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									line-height: 20px;
									color: #000000;
									margin-bottom: 0;
								}
								.desc {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 15px;
									line-height: 24px;
									color: #c5c5c5;
									margin-bottom: 0;
								}
							}
						}
						.post-info-main-card {
							.posted-image {
								width: 100%;
								object-fit: cover;
								border-radius: 8px;
							}
							.react-action-cont-box {
								padding: 0 30px 0 7px;
								margin-bottom: 18px;
							}
							.posted-desc-text {
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 16px;
								line-height: 20px;
								text-transform: capitalize;
								color: #616161;
								margin-bottom: 0;
							}
						}
					}
					.relative-user-comment {
						margin-bottom: 35px;
						padding-left: 10px;
						padding-right: 10px;
						.relative-users-comment-input {
							padding: 7.5px 7.5px 7.5px 16px !important;
							input {
								font-family: "Proxima-Nova";
								font-style: normal;
								font-weight: 400;
								font-size: 12px;
								line-height: 20px;
								color: rgba(30, 41, 59, 0.29);
								&::placeholder {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 12px;
									line-height: 20px;
									color: rgba(30, 41, 59, 0.29);
								}
							}
							.ant-input-suffix {
								.ant-upload-picture-card-wrapper {
									width: auto;
									.ant-upload {
										width: auto;
										&.ant-upload-select {
											width: auto;
											height: auto;
											margin: 0 !important;
											outline: 0;
											border: 0;
											box-shadow: 0;
										}
									}
								}
							}
						}
						.comment-input-wrapper {
							width: 100%;
							.ant-space-item {
								&:nth-child(2) {
									width: 100%;
								}
							}
						}
					}
				}
				.user-post-base-reply-cont {
					position: relative;
					padding-left: 10px;
					padding-right: 10px;
					.relative-user-reply-context {
						&:empty {
							display: none !important;
						}
					}
					.user-comment-wrapbox {
						.users-replying-cont-box {
							display: flex;
							align-items: flex-start;
							gap: 9px;
							.reply-user-cont-wrap {
								position: relative;
								width: 100%;
								> .user-name {
									font-family: "Proxima-Nova";
									font-style: normal;
									font-weight: 400;
									font-size: 14px;
									line-height: 18px;
									color: #1e293b;
									margin-bottom: 8px;
								}
								.users-added-content {
									position: relative;

									.users-post-attachment-wrapper {
										display: flex;
										gap: 4px;
										align-items: center;

										.comment-content-group-box {
											padding: 13px 19px 17px 10px;
											background: #f4f4f4;
											border-radius: 3px;
											width: 100%;
											.desc {
												font-family: "Proxima-Nova";
												font-style: normal;
												font-weight: 400;
												font-size: 12px;
												line-height: 20px;
												color: #1e293b;
												margin-bottom: 0;
											}
											.attachment-gif,
											.attachment-photo {
												margin-bottom: 7px;
											}
										}
									}
									.total-count-impression-widget {
										position: relative;
										height: 25px;
										margin-bottom: 0;
										bottom: 11px;
									}
								}
								.like-comment-trigger-box {
									.like-comment-trigger-wrap {
										.like-trigger-button {
											background: transparent;
											border: 0;
											height: auto;
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
											cursor: pointer;
										}
										.reply-trigger-button {
											background: transparent;
											border: 0;
											height: auto;
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
											cursor: pointer;
										}
										.replying-posted-time {
											font-family: "Proxima-Nova";
											font-style: normal;
											font-weight: 400;
											font-size: 9px;
											line-height: 16px;
											color: #000000;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.mobile-sidebar-top-header {
		.service-item-icon {
			.top-header-link-item {
				padding: 0 !important;
			}
		}
	}
}
